
    body {
        background-color: #87CEEB; /* 水色の背景 */
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center; /* ページ中央に配置 */
        align-items: center;
        min-height: 100vh;
        margin: 0;
        }
    #about {
        width: 700px; /* フォームの幅を100%に設定 */
        background-color: rgba(255, 255, 255, 0.9); /* 半透明の白背景 */
        padding: 20px;
        border-radius: 10px; /* 角を丸める */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* ボックスシャドウ */
        animation: slideIn 0.5s; /* スライドインアニメーション */
        margin: 10px;
        flex-direction: column;
    }
    #checkboxes, #textInput {
        margin-left: 20px; /* 内側に余白を設定 */
    }
    #studentTable {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #studentTable th, #studentTable td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    #studentTable th {
        background-color: #4caf50;
        color: white;
    }

.registration-button{
     width: 200px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none; /* 枠線を削除 */
    box-shadow: none; /* ボックスシャドウを削除 */
}
    /* ログアウトボタンを赤くする */
input.logout-button {
    width: 150px;
    background-color: red;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

a.logout-button {
    width: 210px;
    background-color: red;
    color: white;
    padding: 11.4px 49.5px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

a.home-button {
    width: 210px;
    background-color: #4CAF50;
    color: white;
    padding: 11.4px 49.5px;
    text-decoration: none;
    border-radius: 5px;
}

#checkboxes {
        grid-template-columns: 1fr 1fr; /* 2列 */
        gap: 5px; /* 各チェックボックス間の隙間 */
        margin-left: 20px;
    }

    .checkbox-label {
        display: flex;
        align-items: center;
    }

#delete-button-container {
    position: relative;
    width: 100%;
}
#delete {
    position: absolute;
    top: 0;
    right: 0;
}

.no-wrap {
    white-space: nowrap;
    overflow: hidden; /* テキストが溢れた場合に隠す */
    text-overflow: ellipsis; /* テキストが溢れる場合、省略記号を表示 */
}