<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>アカウント登録</title>
</head>
<body>
<h2>アカウント登録</h2>
<form action="{% url 'register_comp' %}" method="POST">
    {% csrf_token %}
    <label for="student-id">学籍番号:</label>
    <input type="text" id="student-id" name="student_id" required>
    
    <label for="student-name">名前:</label>
    <input type="text" id="student-name" name="student_name" required>
    
    <label for="student-mail">メールアドレス:</label>
    <input type="text" id="student-mail" name="student_mail" required>
    
    <label for="student-class">クラス名:</label>
    <input type="text" id="student-class" name="student_class" required>

    <label for="password">パスワード:</label>
    <input type="password" id="password" name="password" required>

    <label for="confirm-password">パスワード確認:</label>
    <input type="password" id="confirm-password" name="confirm_password" required>

    <button type="submit">登録</button>
</form>

{% if messages %}
    <div class="message">
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<a href="{% url 'login' %}">ログイン画面へ戻る</a>

</body>
</html>