<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理教師用ホーム画面</title>
    <link rel="stylesheet" href="/static/CSS/css.css">
    
</head>
<body>

    <div class="home-container">
        <form>
        <h2>ようこそ、{{ teacher.name }}さん</h2>
        <p>ユーザーID: {{ teacher.teacher_id }}</p>

        <!-- ボタンの追加 -->
        <div class="button-container">
            <a href="/student_attendance_confirmation/" class="button">生徒の出席確認</a>
            <a href="/student_course_registration/" class="button">時間割作成</a>
            <a href="/register-teacher/" class="button">教師登録</a>
            <a href="/register_admin_teacher_course/" class="button">教師の科目割り当て</a>
            <a href="{% url 'course_registration' %}" class="button">科目登録</a>
            <a href="/register_student/" class="button">生徒登録</a>
            <a href="/teacher_list/" class="button">教師一覧</a>
            <a href="/student_search/" class="button">生徒一覧</a>
            <a href="/register_beacon/" class="button">beacon登録</a>

        </div>
        <!-- ログアウトボタン -->
        <a href="{% url 'logout' %}" class="button logout-button">ログアウト</a>
        </form>
    </div>

</body>
</html>