<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム画面</title>
    <link rel="stylesheet" href="/static/CSS/css.css"> <!-- 外部CSSファイルをリンク -->
</head>
<body>
    <header class="header">
        <h2>ようこそ、{{ student.name }}さん</h2>
        <p>クラス名: {{ student.class_name }}</p>
        <p>メールアドレス: {{ student.email }}</p>
    </header>

    <div class="home-wrapper">
        <div class="home-container">
            <!-- ボタンコンテナ -->
            <div class="button-container">
                <a href="/beacon_connect/" class="button">出欠接続</a>
                <a href="#" class="button">時間割</a>
                <a href="{% url 'logout' %}" class="button logout-button">ログアウト</a>
            </div>
        </div>
    </div>
</body>
</html>
