<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教師用ログイン</title>
    <link rel="stylesheet" href="/static/CSS/css.css">
</head>

<body>
    <h2>教師用ログイン</h2>
    <form action="/login_teacher/" method="POST">
        {% csrf_token %}
        <label for="username">教師ID:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">ログイン</button>
    </form>

    <!-- エラーメッセージの表示 -->
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
</body>
</html>
