{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="{% static 'CSS/css.css' %}" rel="stylesheet">
</head>
<body>
    <h2>ログイン</h2>

{% if messages %}
    <div class="message">
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <label for="student-id">学籍番号:</label>
    <input type="text" id="student-id" name="student_id" required>

    <label for="password">パスワード:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">ログイン</button>
</form>

<a href="{% url 'register' %}">アカウント登録画面へ戻る</a>

</body>
</html>
