<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>教師登録</title>
    <link rel="stylesheet" href="/static/CSS/css.css">
</head>
<body>
    <div>
    <form method="post">
        {% csrf_token %}
        <h2>教師登録</h2>

    <!-- メッセージ表示エリア -->
    {% if messages %}
        {% for message in messages %}
            <p style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">{{ message }}</p>
        {% endfor %}
    {% endif %}
        
        <label for="teacher_id">教師ID:</label>
        <input type="number" id="teacher_id" name="teacher_id" required>

        <label for="name">名前:</label>
        <input type="text" id="name" name="name" required>

        <label for="romanized_last_name">ローマ字の姓:</label>
        <input type="text" id="romanized_last_name" name="romanized_last_name" required>

        <label for="roll">ロール (0: 管理者, 1: 教師):</label>
        <input type="number" id="roll" name="roll" required min="0" max="1">

        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm_password">パスワード確認:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>

        <button type="submit">登録</button>
        
        <a class="button logout-button" href="{% url 'adomin_teacher_home' %}">ホームへ戻る</a>
    </form>
   </div>
</body>
</html>
