<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <link rel="stylesheet" href="/static/CSS/css.css">
</head>
<body>
    <!-- Registration Form -->
    <form method="post" action="{% url 'register_student' %}">
        {% csrf_token %}
        <h1>生徒登録</h1>

    <!-- Display error messages if any -->
    {% if messages %}
        {% for message in messages %}
            <p style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">{{ message }}</p>
        {% endfor %}
    {% endif %}
    
        <label for="student_mail">メールアドレス:</label>
        <input type="email" id="student_mail" name="student_mail" required>
        
        <label for="student_name">名前:</label>
        <input type="text" id="student_name" name="student_name" required>

        <label for="student_class">クラス:</label>
        <select id="student_class" name="student_class" required style="width: 275px">
            <option value="" disabled selected>クラスを選択してください</option>
            {% for student_class in student_classes %}
            	<option value="{{ student_class.class_name }}">{{ student_class.class_name }}</option>
            {% endfor %}
        </select>

        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirm_password">パスワード確認:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <button type="submit">登録</button>
        {% if request.session.roll == 0 %}
            <a href="{% url 'adomin_teacher_home' %}" class=" logout-button">ホームへ戻る</a>
        {% else %}
            <a href="{% url 'teacher_home' %}" class="logout-button">ホームへ戻る</a>
        {% endif %}
    </form>
</body>
</html>
